
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #E37B52; color: #fff; text-shadow: none; }
::selection { background: #E37B52; color: #fff; text-shadow: none; }
a { color: #00e; }
a:visited { color: #00e; }
a:hover { color: #00e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

body
{
    font-family:'Droid Sans', sans-serif;
    font-size:10pt;
    color:#555;
    line-height: 25px;
}

.wrapper
{
    /*width:960px;*/
    margin:0 auto 5em auto;
}

.wrapper>header
{
    border-bottom:1px solid #eee;
    background-image:url(../img/logoback.png);
    background-repeat:no-repeat;
    background-position:right;
    text-shadow:1px 1px 0px #fff;
    padding-top:2.5em;
}

.wrapper>header h1
{
    font-size: 28pt;
    font-family: 'Ubuntu';
    margin: 0 0 10px 0;
    letter-spacing: 2px;
}

.wrapper>header h2
{
    margin:0;
    color:#888;
    letter-spacing: 2px;
}

/* ================ add =========================  */

em {
    font-style:normal ;
}
.header {
}

.dashboard {
    padding: 15px 15px 0 15px;
}

.wrapper ul 
{
    list-style-type: none;
    padding: 0;
}

.wrapper li {
    float: left;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    border: #ccc solid 1px;
    margin: 25px;
}

.table {
    border: #ccc solid 1px;
    width: 100%;
}

.table tr {
    border-bottom: #ccc solid 1px;
}

.table td {
    padding: 10px;
}

.open {
    display: inline-block;
    border-width: 5px;
    border-width: 5''px;
    border-color: #566D5E transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin-left: 10px;
    vertical-align: middle;
}
.close {
    display: inline-block;
    border-width: 5px;
    border-width: 5''px;
    border-color: transparent transparent transparent #566D5E;
    border-style: dashed dashed dashed solid;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin-left: 10px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.click  {
    color: #00e;
    cursor: pointer;
}

em.click {
    color: #666;
    float: right;
    cursor: pointer;
    margin-left: 20px;
}

.cantclick {
    color: #666;
}

.cantclick:hover{
    color: #666;
}

.step {
    border: 1px solid #ccc;
    float: left;
    margin: 5px;
    padding: 5px;
}

.order_detail {
    display: none;
    width: 900px;
    height: 500px;
    position:fixed;
    top: 60px;
    left:50%;
    margin-left: -450px;
    border: 5px solid #ccc;
    z-index: 100;
    padding: 10px;
    background: #fff;
}

.order_detail > .title, .search_order > .title {
    background: #333;
    color: #fff;
    padding: 0 10px 0 10px;
    
}
.order_detail > .title em, .search_order > .title em {
    float: right;
    padding: 0px 8px 0 8px;
    cursor: pointer;
}
.order_detail > .detail {
    height: 430px;
    border: 1px solid #ccc;
    overflow-y:auto
}

.detail table tbody th {
    width: 80px;
    text-align: right;
}


.loading {
    display:none;
    position:fixed;
    top: 200px;
    left: 50%;
    margin-left: -75px;
    border: 5px solid #ccc;
    padding: 5px 20px 5px 20px;
    background: #fff;
    z-index: 999;
}

.mask {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#000;
    filter:alpha(opacity=30);
    opacity:0.3;
    z-index:2;
    display:none;
    cursor:not-allowed;
}

.f_l {
    float: left;
}
.f_r {
    float: right;
}
.m_l_15 {
    margin-left: 15px;
}

.m_r_15 {
    margin-right: 15px;
}

.search_order {
    display:none;
    position:fixed;
    left: 50%;
    padding: 10px;
    width: 500px;
    margin-left: -250px;
    border: 5px solid #ccc;
    background: #fff;
    z-index: 100;
}

.tab {
    float: left;
}
.mark {
    float: right;
    margin: 5px;
}

.tab ul {
    list-style-type: none;
    margin: 5px 0 5px 0;
    padding: 0;
    overflow:auto; 
    zoom:1;
}

.mark ul {
    list-style-type: none;
    float:right;
    padding: 0;
    margin: 0;
}

.mark ul > li {
    float: right;
    border: 1px solid #ccc;
    padding: 3px 13px 3px 13px;
    margin: 3px 5px 3px 5px;
    position: relative;
}

.mark ul > li > a {
    color: #FA8072;
    position: absolute;
    top: -1px;
    right: -1px;
    display: block;
    background: #fff;
    border: 1px solid #FA8072;
    height: 10px;
    padding: 0 2px 0 2px;
    font-size: 2px;
    line-height:8px;
    z-index: 2
}

.mark span {
    float: right;
    line-height: 34px;
}

#mark_setting {
    position: absolute;
    z-index: 2;
    background: #fff;
    border: 1px solid #ccc;
}

#mark_setting {
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    display: none;
    margin-left: 18px;
}

#mark_setting ul,  #mark_setting li{
    list-style: none;
    margin: 0;
    padding: 2px;
} 


.tab ul > li {
    border: 2px solid #ccc;
    padding: 5px 15px 5px 15px;
    margin: 0 5px 0 5px;
    float: left;
    cursor: pointer;
}

.tab ul > li:hover {
    border: 2px solid #888;
}

.tab .tab_current {
    border: 2px solid #000;
}

.footer {
    text-align: center;
    height: 60px
}
/* ================ add end ========================= */
.slogan
{
    font-size:0.8em;
}

.intro-text
{
    width:480px;
    line-height:1.4em;
    margin-top:45px;
}

.main
{
    overflow:hidden;
}


div.home>h2:not(:first-child) {
    margin-top:2.2em;
}

div.home>h2 {
    font-size: 14pt;
}

.content>h3 {
    font-size: 12pt;
}


.content table
{
    border-collapse:collapse
    border: 1px solid #eee;
    width:98%;
    margin: auto;
    margin-bottom: 10px;
    line-height:1.5em;
}

.content table code
{
    background-color:transparent;
    font-size:0.9em;
}

.content table td, .content table th
{
    border:1px solid #eee;
    padding:0.5em 0.7em;
    vertical-align:middle;
    text-align:left;
}

.content table th
{
    background-color:#f5f5f5;
}

.content li
{
    line-height:1.5em;
    margin-bottom:1em;
}

a, a:visited
{
    color:#00e;
    text-decoration:none;
}

a:hover
{
    color:#00e;
    text-decoration:none;
}

.sidebar
{
    width:180px;
    float:left;
    font-size:0.9em;
}

.sidebar>ul
{
    list-style-type:none;
    padding-left:1em;
    margin:0;
    padding: 0;
}

.sidebar>ul li:before
{
    text-decoration:none;
    color:#777;
    margin-right:0.2em;
}

.sidebar>ul ul
{
    list-style-type:none;
    margin:0 0 0 1.5em;
    padding:0;
}

.sidebar>ul ul>li:before
{
    content:"\2013";
    margin-right:0.4em;
}

pre, code
{
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

pre
{
    border:1px solid #eee;
    padding:0.5em 1em;
    font-size:0.8em;
    background-color:#f5f5f5;
    text-shadow:1px 1px 0 #fff;
    line-height:1.5em;
}

.content pre li
{
    margin:0.2em 0;
}

code
{
    background-color:#FFE5DB;
    font-size:0.8em;
    display:inline-block;
    padding:0.2em 0.4em;
    text-shadow:1px 1px 0 #fff;
}

.out-links
{
    margin:0;
    padding:0;
}

.out-links li
{
    display:inline-block;
}

.out-links li:not(:first-child):before
{
    content:"/";
    padding:0 1em;
    color:#888;
}

#toTop
{
    display:none;
    padding:0.2em 1em 0.05em 1em;
    position:fixed;
    top:1.2em;
    right:1.2em;
    background-color:#777;
    text-align:center;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:0.9em;
    border-radius:3px;
}

#toTop:hover
{
    background-color:#E3591E;
}


/* Prettify Styles -------------- */

.com {
  color: #93a1a1;
}

.lit {
  color: #195f91;
}

.pun, .opn, .clo {
  color: #93a1a1;
}

.fun {
  color: #dc322f;
}

.str, .atv {
  color: #D14;
}

.kwd, .linenums .tag {
  color: #1e347b;
}

.typ,
.atn,
.dec,
.var {
  color: teal;
}

.pln {
  color: #48484c;
}

.prettyprint
{
    padding:0;
    text-shadow:1px 1px 0 #fff;
}

.prettyprint ol
{
    color:#ccc;
}

/* end ------------------------ */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
